.DS_Store
xcuserdata
.svn
ipch
*~
*.sdf
*.user
*.ncb
*.nuo
*.suo
*.o
*.lo
*.la
*.a
Release
Debug
ReleaseAudio
DebugAudio
.libs
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
configure
libosip2.pc
libtool
exosip-config.h
exosip-config.h.in
scripts/config.guess
scripts/config.sub
scripts/depcomp
scripts/ltmain.sh
scripts/compile
scripts/libtool.m4
scripts/ltoptions.m4
scripts/ltsugar.m4
scripts/ltversion.m4
scripts/lt~obsolete.m4
stamp-h1
osip.1
doxygen.dox

