#.pro.user file
*.user*

#tmp file
*.*~

#binary file created by compiling in libexosip
libexosip2-5.0.0/src/.deps
libexosip2-5.0.0/src/.libs/*.lai
*.la
*.lo
*.o
*Makefile
libexosip2-5.0.0/help/doxygen/doxygen.dox
libexosip2-5.0.0/tools/.deps
libexosip2-5.0.0/tools/.libs
libexosip2-5.0.0/tools/sip_reg
libexosip2-5.0.0/libtool
libexosip2-5.0.0/exosip-config.h
libexosip2-5.0.0/stamp-h1

#binary file created by compiling in libosip2
libosip2-5.0.0/src/osipparser2/.deps
libosip2-5.0.0/src/osipparser2/.libs/*.lai
libosip2-5.0.0/src/osip2/.deps
libosip2-5.0.0/src/osip2/.libs/*.lai
libosip2-5.0.0/src/osip2/.libs/libosip2.so.12.0.0T
libosip2-5.0.0/src/test/.deps
*.log
*.status
libosip2-5.0.0/include/osip2/doxygen.dox
libosip2-5.0.0/libosip2.pc
libosip2-5.0.0/libtool
libosip2-5.0.0/osip-config.h
libosip2-5.0.0/stamp-h1

#binary file created by compiling in c-ares
c-ares-1.12.0/.pdf
c-ares-1.12.0/confdefs.h
c-ares-1.12.0/conftest.h
c-ares-1.12.0/.libs/*.lai
c-ares-1.12.0/.libs/acountry
c-ares-1.12.0/.libs/adig
c-ares-1.12.0/.libs/ahost
c-ares-1.12.0/.deps
c-ares-1.12.0/ares_build.h
c-ares-1.12.0/ares_config.h
c-ares-1.12.0/libcares.pc
c-ares-1.12.0/libtool
c-ares-1.12.0/stamp-h1
c-ares-1.12.0/stamp-h2
c-ares-1.12.0/test/.deps/
c-ares-1.12.0/test/config.h
c-ares-1.12.0/test/libtool
c-ares-1.12.0/test/stamp-h1
c-ares-1.12.0/acountry
c-ares-1.12.0/adig
c-ares-1.12.0/ahost
